* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

/* Шапка - навигация */
.header {
  width: 1440px;
  height: 88px;
  padding-top: 24px;
  padding-bottom: 24px;
  background: #f9f7e8;
}
.logo {
  display: inline-block;
  width: 181px;
  height: 40px;
  margin-left: 165px;
  font-family: Courgette;
  font-size: 32px;
  line-height: 40px;
  color: #62bfad;
}
.black {
  font-family: Courgette;
  font-size: 32px;
  line-height: 40px;
  color: black;
}
.nav {
  display: inline-block;
}
.home {
  display: inline-block;
  font-size: 16px;
  width: 43px;
  height: 19px;
  line-height: 19px;
  margin-left: 79px;
}
.about {
  display: inline-block;
  font-size: 16px;
  width: 44px;
  height: 19px;
  line-height: 19px;
  margin-left: 21px;
}
.features {
  display: inline-block;
  width: 61px;
  height: 19px;
  font-size: 16px;
  line-height: 19px;
  margin-left: 21px;
}

/* Название */
.container_title {
  width: 1440px;
  height: 486px;
  background-color: #d52047;
  padding: 198px 351px 172px 351px;
}
.title {
  width: 738px;
  height: 116px;
  font-family: "Limelight", cursive;
  font-size: 48px;
  line-height: 58px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
