* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
.all_content {
  width: 1440px;
  margin: 0;
  min-width: 1140px;
}
.container {
  max-width: 1140px;
  min-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
/* Шапка - навигация */
.header {
  width: 1440px;
  height: 88px;
  padding-top: 24px;
  padding-bottom: 24px;
  background: #f9f7e8;
}
.logo {
  display: inline-block;
  width: 181px;
  height: 40px;
  font-family: Courgette;
  font-size: 32px;
  line-height: 40px;
  color: #62bfad;
  vertical-align: middle;
}
.black {
  font-family: Courgette;
  font-size: 32px;
  line-height: 40px;
  color: black;
}
.container_nav {
  display: inline-block;
  vertical-align: middle;
}
.container_nav a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: lightskyblue;
}
.link_home {
  margin-left: 79px;
  margin-right: 21px;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.link_about {
  margin-right: 21px;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.link_target {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
/* ===============================================================*/

/* Hero */
.hero {
  width: 1440px;
  height: 486px;
  background-color: #d52047;
  padding-top: 198px;
  padding-bottom: 172px;
  font-family: Limelight;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-slogan {
  margin: 0 auto;
  text-align: center;
}
/* ===============================================================*/

/* Секция About */
.section-title {
  margin: 0;
  color: #d52047;
  font-size: 48px;
  line-height: 58px;
}

.section-subtitle {
  margin: 0;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}
.about {
  padding: 95px 0 80px;
  width: 1440px;
  background-color: #eff8f6;
}

.about-content {
  margin-top: 40px;
  font-size: 0;
}

.about-text {
  display: inline-block;
  width: 50%;
  padding: 24px;
  vertical-align: top;
  border-radius: 9px 0px 0px 9px;
  background-color: #e5e5e5;
}

.about-description {
  margin: 24px 0 0;
  font-size: 24px;
  line-height: 29px;
}

.about-image {
  display: inline-block;
  width: 50%;
  height: 334px;
  vertical-align: top;
  border-radius: 0px 9px 9px 0px;
}
/* ===============================================================*/
/* Секция Features */
.features {
  padding: 80px 0;
  width: 1440px;
}
.features-content {
  margin-top: 40px;
  font-size: 0px;
}

.card-title1-content,
.card-title2-content,
.card-title3-content {
  margin: 0 auto;
  display: inline-block;
  padding: 24px;
  background: #ffffff;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 8px;
  width: 322px;
}
.card-title2-content {
  margin-left: 72px;
  margin-right: 72px;
}
.image-title-1,
.image-title-2,
.image-title-3 {
  width: 274px;
  height: 156px;
}
.card-subtitle-1,
.card-subtitle-2,
.card-subtitle-3 {
  margin-top: 24px;
  font-size: 32px;
  line-height: 38px;
}
.card-description-1,
.card-description-2,
.card-description-3 {
  font-size: 16px;
  line-height: 19px;
}
.card-title-1-link,
.card-title-2-link,
.card-title-3-link {
  font-size: 16px;
  line-height: 19px;
  color: tomato;
}
/* ===============================================================*/

/* Секция Footer */
.footer {
  padding: 32px 0;
  width: 1440px;
  height: 131px;
  background: #f9f7e8;
}
.icons {
  margin: 24px;
  text-align: center;
  vertical-align: middle;
  font-size: 29px;
}
.fa-linkedin {
  padding-left: 16px;
  padding-right: 16px;
}

.footer-content p {
  margin: 0 auto;
  text-align: center;
}
.text_wisdom_footer {
  text-decoration: underline;
}
.icons a:hover {
  color: #d52047;
}
/* ===============================================================*/
