* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

/* Шапка - навигация */
.header {
  width: 1440px;
  height: 88px;
  padding-top: 24px;
  padding-bottom: 24px;
  background: #f9f7e8;
}
.logo {
  display: inline-block;
  width: 181px;
  height: 40px;
  margin-left: 165px;
  font-family: Courgette;
  font-size: 32px;
  line-height: 40px;
  color: #62bfad;
}
.black {
  font-family: Courgette;
  font-size: 32px;
  line-height: 40px;
  color: black;
}
.nav {
  display: inline-block;
}
.home {
  display: inline-block;
  font-size: 16px;
  width: 43px;
  height: 19px;
  line-height: 19px;
  margin-left: 79px;
}
.about {
  display: inline-block;
  font-size: 16px;
  width: 44px;
  height: 19px;
  line-height: 19px;
  margin-left: 21px;
}
.features {
  display: inline-block;
  width: 61px;
  height: 19px;
  font-size: 16px;
  line-height: 19px;
  margin-left: 21px;
}
/* ===============================================================*/

/* Название */
.container_title {
  width: 1440px;
  height: 486px;
  background-color: #d52047;
  padding: 198px 351px 172px 351px;
}
.title {
  width: 738px;
  height: 116px;
  font-family: "Limelight", cursive;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
/* ===============================================================*/

/* Секция About */
.container_about {
  width: 1440px;
  height: 621px;
  padding: 95px 165px 80px 165px;
  background: #eff8f6;
  font-size: 0px;
}
.title_about {
  width: 134px;
  height: 58px;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  color: #d52047;
}
.wrapper_containers_about {
  font-size: 0;
  margin-top: 40px;
}
.container_about1 {
  display: inline-block;
  width: 555px;
  height: 348px;
  padding: 24px;
  background: #e5e5e5;
  border-radius: 8px 0px 0px 8px;
  vertical-align: middle;
}
.text_about_title {
  display: inline-block;
  width: 507px;
  height: 37px;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}
.text_about {
  display: inline-block;
  width: 507px;
  height: 239px;
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
  font-weight: normal;
  padding-top: 24px;
}
.container_about2 {
  display: inline-block;
  width: 555px;
  height: 348px;
  border-radius: 0px 8px 8px 0px;
  vertical-align: middle;
}
/* ===============================================================*/
